@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<address style="color:#ff1a1a">
    25, North Kaliamman Koil Street, <br />
    Dindigul,<br />
    Tamil Nadu <br />
    <abbr title="Phone">P:</abbr>
    90002 34906
</address>
<address style="color:#004d4d">
    226/2, Vivekanda Street<br />
    Vembakkam, Malayadi<br />
    <abbr title="Phone">P:</abbr>
    93845 28234
</address>

<address style="color:#400080">
    <strong>Support:</strong> <a href="mailto:admin@sriramsoftware.com">admin@sriramsoftware.com</a><br />
</address>
